$border-color: grey;

@mixin submitButton {
  border: 2px solid $border-color;
  color: $border-color;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

@mixin bigButtonBase {
  text-align: center;
  width: 400px;
  padding: 1em;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.2em;
  margin-top: 2em;
}




*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


.sign-up {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }



  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    
    .form-child {
      margin-top: 1em;

      input {
        width: 500px;
        font-size: 1em;
        padding: 7px;
        border: 1px solid $border-color;
        border-radius: 3px;
        background-color: rgba($border-color, .1)
      }
      
      label {
        font-size: 1.2em;
        display: block;
      }
    }

    button {
      border: 1px solid black;
      border-radius: 10px;
      padding: .8em;
      width: 130px;
      font-size: 1.2em;
    }    
  }

  .googleSignUp {
    @include bigButtonBase();

    a {
      text-decoration: none;
      color: black; 
    }
 }
}


.log-in-btn {
  @include bigButtonBase();
}


.homepage {
  width: 70%;
  height: 100vh;
  border-radius: 4px;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}


.headers-container {
  height: 200px;
}



.file-picker {
  display: flex;
  width: 80%;
  height: 200px;
  flex-wrap: wrap;

  form {
    display: flex;
    width: 100%;
    height: 80%;
  }
  
  // See citation
  .upload-btn-container {
    position: relative;
    overflow: hidden;
    display: block;
    // background-color: rebeccapurple; // for debugging
    height: 50px;
    margin-right: 2em;
    
  
    .upload-btn {
      @include submitButton(); // controls width for Input field
      width: 200px;
    }

    input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      // background-color: yellow; // for debugging
    }
  }

  button {
    @include submitButton();
    height: 50px;
  }

  .file-name-display {
    height: 20%;
    width: 800px;
    font-size: 1.5em;
  }

}

.drive-display {
  font-size: 1.5em;
}

.document-container {
  border: 1px solid $border-color;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 3px;
  width: 100%;
}


.logout-btn {
  @include submitButton();
}


.errorMsg {
  color: red;
}

/*****************
* Citations
******************

.upload-btn-wrapper
https://blog.benestudio.co/custom-file-upload-button-with-pure-css-5aacf39aa0a

*/