@mixin submitButton {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}


*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


.sign-up {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }



  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    
    .form-child {
      margin-top: 1em;

      input {
        width: 500px;
        font-size: 1em;
        padding: 7px;
        border: 1px solid grey;
        border-radius: 3px;
        background-color: rgba(grey, .1)
      }
      
      label {
        font-size: 1.2em;
        display: block;
      }
    }

    button {
      border: 1px solid black;
      border-radius: 10px;
      padding: .8em;
      width: 130px;
      font-size: 1.2em;
    }    
  }

  .googleSignUp {
    text-align: center;
    width: 400px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2em;
    margin-top: 2em;

    a {
      text-decoration: none;
      color: black; 
    }
 }
}


.homepage {
  width: 70%;
  height: 100vh;
  border: 1px solid pink;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

/* Column Styling
.homepage {
  width: 70%;
  height: 100vh;
  border: 1px solid pink;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em;
}
*/



.headers-container {
  height: 200px;
}



.file-picker {
  border: 1px solid green;
  display: flex;
  width: 80%;
  height: 200px;
  flex-wrap: wrap;

  form {
    display: flex;
    width: 100%;
    height: 80%;
  }
  
  // See citation
  .upload-btn-container {
    position: relative;
    overflow: hidden;
    display: block;
    background-color: rebeccapurple;
    height: 50px;
    margin-right: 2em;
    
  
    .upload-btn {
      @include submitButton(); // controls width for Input field
      width: 200px;
    }

    input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      background-color: yellow;
      // height: 50px;
    }
  }

  button {
    @include submitButton();
    height: 50px;
  }

  .file-name-display {
    border: 1px solid salmon;
    height: 20%;
    width: 800px;
    font-size: 1.5em;
  }

}

.drive-display {
  font-size: 1.5em;
  border: 1px solid goldenrod;
}

.document-container {
  border: 1px solid grey;
  padding: 1em;
}



.errorMsg {
  color: red;
}


@media only screen and (max-width: 650px) {
  .file-picker {
    border: 1px solid green;
    display: flex;
    width: 100%;
    height: 400px;
    flex-wrap: wrap;
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 80%;
    }
    
    // See citation
    .upload-btn-container {
      position: relative;
      overflow: hidden;
      display: block;
      background-color: rebeccapurple;
      height: 50px;
      margin: 0 auto 1.5em auto; // set margin to 0 auto to center .upload-btn-container
      
    
      .upload-btn {
        @include submitButton();
        width: 200px; // controls width for Input field
      }
  
      input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        background-color: yellow;
        // height: 50px;
      }
    }
  
    button {
      @include submitButton();
      height: 50px;
      width: 200px;
      
    }
  
  }

  
}


/*****************
* Citations
******************

.upload-btn-wrapper
https://blog.benestudio.co/custom-file-upload-button-with-pure-css-5aacf39aa0a

*/